.background-card {
  --background: #ffc15e;
  --color: #1f1300;
}

ion-card,
ion-card-title,
ion-label,
div {
  --color: #1f1300 !important;
  color: #1f1300 !important;
}

.img-logo {
  height: 4rem;
  width: auto;
}
